ion-view(scroll='false', title="Kitchensink")
  ion-content(padding='false')
    h2 This is our awesome kitchensink!
    p you will find here all our elements and template following our guidelines! Feel free to edit or reuse them!
